- hosts: 'new'
  become: true
  tasks:
    - name: apt
      apt:
        update_cache: true
        update_cache_retries: 5
        upgrade: 'yes'
      check_mode: no
    
    - name: Set timezone to America/Denver
      ansible.builtin.timezone:
        name: America/Denver

    - name: Wait for automatic updates to finish
      shell: |
        while lsof /var/lib/dpkg/lock-frontend; do 
          sleep 2; 
        done
      become: true
      changed_when: false

    - name: install zsh
      apt:
        name: zsh
        state: present
        update_cache: true

    - name: Install common packages
      apt:
        name: ['htop', 'git', 'curl', 'vim']
        state: present

    - name: Install ufw
      apt:
        name: ufw
        state: present
       
    - name: Allow all outgoing traffic
      ufw:
        rule: allow
        direction: out

    - name: Allow HTTP
      ufw:
        rule: allow
        port: 80
        proto: tcp

    - name: Allow HTTPS
      ufw:
        rule: allow
        port: 443
        proto: tcp

    - name: Allow SSH connections
      ufw:
        rule: allow
        name: OpenSSH

    - name: Limit SSH connections
      ufw:
        rule: limit
        port: ssh
        proto: tcp

    - name: Allow Zabbix agent traffic
      ufw:
        rule: allow
        port: '10050'
        proto: tcp

    - name: Deny all incoming traffic
      ufw:
        rule: deny
        direction: in

    - name: Enable ufw
      ufw:
        state: enabled

    - name: Set up sudoers to allow no password for user
      ansible.builtin.lineinfile:
        dest: /etc/sudoers
        regexp: '^ridgfam ALL=\(ALL\) NOPASSWD: ALL'
        line: "ridgfam ALL=(ALL) NOPASSWD: ALL"
        validate: 'visudo -cf %s'
      become: true
      check_mode: no


    - block:
        - name: Install Oh-My-Zsh
          include_role:
            name: gantsign.oh-my-zsh
          vars:
            users:
              - username: ridgfam

        - name: Set file permissions for .zshrc
          file:
            path: /home/ridgfam/.zshrc
            mode: '0644'
            owner: ridgfam
            group: ridgfam

        - name: Set ZSH_THEME
          lineinfile:
            path: /home/ridgfam/.zshrc
            regexp: '^ZSH_THEME='
            line: 'ZSH_THEME="agnoster"'
            owner: ridgfam
            group: ridgfam

        - name: Set plugins
          lineinfile:
            path: /home/ridgfam/.zshrc
            regexp: '^plugins='
            line: 'plugins=(git zsh-autosuggestions history)'
            owner: ridgfam
            group: ridgfam

        - name: Install zsh-autosuggestions
          git:
            repo: https://github.com/zsh-users/zsh-autosuggestions
            dest: /home/ridgfam/.oh-my-zsh/custom/plugins/zsh-autosuggestions
            clone: yes
            update: yes

      rescue:
        - name: Send failure notification
          mail:
            to: ridgfam <elijah@ridgfam.com>
            subject: Ansible playbook failed
            body: 'The playbook failed. Please check the system.'

  handlers:
    - name: Source .zshrc
      shell: source /home/ridgfam/.zshrc
      args:
        executable: /bin/zsh
      become: true
      become_user: ridgfam
      

- hosts: 'new'
  become: true
  tasks:
    - name: Download Zabbix release
      get_url:
        url: https://repo.zabbix.com/zabbix/7.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_7.0-2+ubuntu24.04_all.deb
        dest: /tmp/zabbix-release_7.0-2+ubuntu24.04_all.deb

    - name: Install Zabbix release
      apt:
        deb: /tmp/zabbix-release_7.0-2+ubuntu24.04_all.deb

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Zabbix Agent 2 and plugins
      apt:
        name:
          - zabbix-agent2
          - zabbix-agent2-plugin-*
        state: present

    - name: Enable and start Zabbix Agent 2 service
      systemd:
        name: zabbix-agent2
        state: started
        enabled: yes

    - name: Configure Zabbix Server for passive checks
      lineinfile:
        path: /etc/zabbix/zabbix_agent2.conf
        regexp: '^Server='
        line: 'Server=10.5.1.21,zeffo.ridgfam.com'

    - name: Configure Zabbix Server for active checks
      lineinfile:
        path: /etc/zabbix/zabbix_agent2.conf
        regexp: '^ServerActive='
        line: 'ServerActive=10.5.1.21,zeffo.ridgfam.com'

    - name: Set Hostname for Zabbix Agent
      lineinfile:
        path: /etc/zabbix/zabbix_agent2.conf
        regexp: '^Hostname='
        line: 'Hostname={{ inventory_hostname }}'

    - name: Restart Zabbix Agent 2 service
      systemd:
        name: zabbix-agent2
        state: restarted
        enabled: yes
  